@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100;12..72,400;12..72,700&display=swap");
:root{
  --clr-dark: #2b2b2b;
  --clr-light: #fff;
  --clr-primary: #1b8b83;
  --clr-secondary: #cfa584;
  --clr-semilight: #d9d9d9;
  --truculenta: "Truculenta", sans-serif;
}
  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  body {
    color: var(--clr-dark);
    font-family: var(--truculenta);
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  
  .container {
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 5rem;
  }
  /* HEADER */
  .header{
    background-color: var(--clr-semilight);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 99999;
  }
  .header .header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .header__wrapper nav ul{
    display: flex;
    /* flex-direction: row; */
    gap: 2rem;
  }
  .header .header__wrapper nav ul li a{
    color: var(--clr-dark);
    font-style: 2rem;
    font-weight: 700;
  }

  .header .header__wrapper nav ul li a:hover{
    color: var(--clr-primary);
  }
  /* HEADER RESPONSIVE */
  .header .toggle__menu{
    display: none;
    z-index: 999;
  }
  .header .toggle__menu span{
    color: var(--clr-primary);
    display: block;
    width: 3rem;
    height: 0.3rem;
    border: 2px solid;
    border-radius: 1rem;
  }
  .header .toggle__menu{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  @media screen and (max-width: 520px){
    .header .header__nav{
      position: fixed;
      top: 0;
      height: 100vh;
      width: 100%;
      background-color: var(--clr-semilight);
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      z-index: 999;
      transform: translateY(-18rem);
      margin-top: 25rem;
      gap: 2rem;
      right: -100rem;
      transition: 0.5s ease;
    }
  }
    .header .header__nav.open{
      right: 0;
    }
    .header .header__wrapper img{
      width: 10rem;
    }
    .toggle__menu.open span:nth-child(1){
      transform: translate(0, 11px) rotate(230deg);
      transition: 0.5s ease;
    }
    .toggle__menu.open span:nth-child(2){
      opacity: 0;
      transition: 0.5s ease;
    }
    .toggle__menu.open span:nth-child(3){
      transform: translate(0, -7px) rotate(-230deg);
      transition: 0.5s ease;
    }
  /* TOP */
  .top{
    background-color: var(--clr-secondary);
    padding-top: 13rem;
    padding-bottom: 3rem;
    text-align: center;
  }
  .top .top__wrapper span{
    font-size: 1.7rem;
    font-weight: 100;
    margin-bottom: 5rem;
  }
  .top .top__wrapper h4{
    line-height: 2.2rem;
    font-weight: 700;
    font-size: 3rem;
  }
  /* BANNER */
  .banner{
    background-color: var(--clr-semilight);
    padding-top: 4rem;
    padding-bottom: 8rem;
  }
  .banner .banner__wrapper{
    display: flex;
    justify-content: space-between;
  }
  .banner .banner__wrapper .banner__left{
    max-width: 80rem;
  }
  .banner .banner__wrapper .banner__left ul li{
    line-height: 5rem;
  }
  .banner .banner__wrapper .banner__left ul li:nth-child(1){
    color: var(--clr-primary);
    font-size: 5rem;
    font-weight: 700;
  }
  .banner .banner__wrapper .banner__left ul li:nth-child(2){
    color: var(--clr-secondary);
    font-size: 5rem;
    font-weight: 700;
    margin-left: 7rem;
  }
  .banner .banner__wrapper .banner__left ul li:nth-child(3){
    position: absolute;
    color: var(--clr-primary);
    font-size: 5rem;
    font-weight: 100;
  }
  .banner .banner__wrapper .banner__left ul li:nth-child(3)::before{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-primary);
    width: 20rem;
    height: .2rem;
    bottom: 1rem;
    right: 1rem;
  }
  .banner .banner__wrapper .banner__left p{
    margin-top: 7rem;
    margin-bottom: 3rem;
  }
  .banner .banner__right{
    display: flex;
    gap: 3rem;
  }
  .banner .banner__right img:first-child{
    position: relative;
  }
  .banner .banner__right img:last-child{
    position: relative;
    top: 5rem;
  }
  /* BANNER RESPONSIVE */
  @media screen and (max-width: 520px){
    .banner .banner__wrapper{
      flex-direction: column;
    }
    .banner .banner__right img{
      display:none;
    }
  }
  /* ABOUT */
  .about {
    background-color: var(--clr-dark);
    padding-top: 15rem;
    padding-bottom: 5rem;
  }
  .about .about__wrapper{
    display: grid;
    grid-template-columns: 40rem 1fr;
    gap: 10rem;
    align-items: center;
  }
  .about .about__title h2{
    margin-bottom: 2rem;
    color: var(--clr-primary);
    font-size: 3rem;
    font-weight: 700;
  }
  .about .about__title h2::before{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-primary);
    width: 120rem;
    height: .2rem;
    bottom: 1rem;
    right: 1rem;
  }
  .about .about__wrapper .about__right p{
    margin-bottom: 2rem;
    color: var(--clr-semilight);
    text-align: justify;
    max-width: 70rem;
  }
  /* ABOUT RESPONSIVE */
  @media screen and (max-width: 520px){
    .about{
      padding-top: 5rem;
    }
    .about .about__title h2::before{
      display: none;
    }
    .about .about__wrapper{
      grid-template-columns: 1fr;
      gap: 5rem;
    }
  }
  /* CATALOG */
  .catalog {
    background-color: var(--clr-semilight);
    padding: 5rem 0;
  }
  .catalog .catalog__title h2{
    margin-bottom: 2rem;
    color: var(--clr-primary);
    font-size: 3rem;
    font-weight: 700;
  }
  .catalog .catalog__title h2::after{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-primary);
    width: 130rem;
    height: .2rem;
    bottom: 1rem;
    left: 1rem;
  }
  .catalog .catalog__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .catalog .catalog__wrapper .catalog__card{
    max-width: 40rem;
    background-color: var(--clr-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .catalog .catalog__wrapper .catalog__card .catalog__details{
    padding: 1rem;
  }
  .catalog .catalog__wrapper .catalog__card .catalog__details h4{
    color: var(--clr-secondary);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .catalog .catalog__wrapper .catalog__card .catalog__details p{
    margin-bottom: 1rem;
  }
  .catalog .catalog__wrapper .catalog__card img{
    width: 40rem;
  }
  /* CATALOG RESPONSIVE */
  @media screen and (max-width: 520px){
    .catalog .catalog__title h2::after{
      display: none;
    }
    .catalog .catalog__wrapper{
      grid-template-columns: 1fr;
    }
    .catalog .catalog__wrapper .catalog__card{
      margin-bottom: 2rem;
    }
  }
  /* CALL TO ACTION */
  .cta {
    background-color: var(--clr-primary);
    padding: 4rem 0;
  }
  .cta .cta__wrapper{
    text-align: center;
    color: var(--clr-light);
  }
  .cta h2{
    margin-bottom: 2rem;
    color: var(--clr-semilight);
    font-size: 3rem;
    font-weight: 700;
  }
  .cta p{
    margin-bottom: 2rem;
    color: var(--clr-semilight);
  }
  /* FOOTER */
  .footer {
    background-color: var(--clr-dark);
    padding: 2rem 0;
    color: var(--clr-semilight);
  }
  .footer .footer__wrapper{
    display: flex;
    justify-content: space-between;
  }
  .footer .footer__wrapper .footer__social{
    display: flex;
    gap: 1.5rem;
  }
  .footer .footer__wrapper .footer__social li a{
    color: var(--clr-semilight);
  }
  .footer .footer__wrapper p{
    margin-bottom: 2rem;
  }
  /* FOOTER RESPONSIVE */
  @media screen and (max-width: 520px){
    .footer .footer__wrapper{
      flex-direction: column;
      align-items: center;
    }

  }
  /* ABOUT BANNER */
  .aboutBanner{
    background-color: var(--clr-semilight);
    padding-top: 4rem;
    padding-bottom: 8rem;
  }
  .aboutBanner .aboutBanner__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .aboutBanner .aboutBanner__wrapper .aboutBanner__right{
    max-width: 80rem;
  }
  .aboutBanner .aboutBanner__wrapper .aboutBanner__right p{
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: justify;
  }
  .aboutBanner .aboutBanner__wrapper .aboutBanner__left img{
    position: relative;
    width: 46.5;
    top: .3rem;
  }
  .aboutBanner .aboutBanner__wrapper .aboutBanner__left span{
    font-size: 1.7rem;
    font-weight: 100;
    margin-bottom: 1rem;
    text-align: right;
    left: 5rem;
  }
  .aboutBanner .aboutBanner__left span::before{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-dark);
    width: 33rem;
    height: .2rem;
    bottom: 1rem;
    right: 1rem;
    left: .1rem;
  }
  .aboutBanner .aboutBanner__right h1{
    color: var(--clr-dark);
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: 1rem;
  }
  .aboutBanner .aboutBanner__wrapper .aboutBanner__right .aboutBanner__social{
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
  }
  .aboutBanner .aboutBanner__wrapper .aboutBanner__right .aboutBanner__social li a{
    color: var(--clr-dark);
    font-size: 3rem;
  }
  /* ABOUT BANNER RESPONSIVE */
  @media screen and (max-width: 520px){
    .aboutBanner .aboutBanner__wrapper{
      flex-direction: column;
    }
    .aboutBanner .aboutBanner__right h1{
      margin-top: 3rem;
    }
    .aboutBanner .aboutBanner__wrapper .aboutBanner__left span{
      display: none;
    }
    .aboutBanner .aboutBanner__left span::before{
      display: none;
    }
  }
  /* LATEST */
  .latest {
    background-color: var(--clr-dark);
    padding: 5rem 0;
  }
  .latest .latest__title h2{
    margin-bottom: 2rem;
    color: var(--clr-primary);
    font-size: 5rem;
    font-weight: 700;
  }
  .latest .latest__title p{
    margin-top: 1rem;
    margin-bottom: 5rem;
    text-align: justify;
    color: var(--clr-light);
    font-size: 2rem;
  }
  .latest .latest__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .latest .latest__wrapper .latest__card{
    max-width: 40rem;
    background-color: var(--clr-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 3rem;
  }
  .latest .latest__wrapper .latest__card .latest__details{
    padding: 1rem;
  }
  .latest .latest__wrapper .latest__card .latest__details h4{
    color: var(--clr-secondary);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .latest .latest__wrapper .latest__card .latest__details p{
    margin-bottom: 1rem;
  }
  .latest .latest__wrapper .latest__card img{
    width: 40rem;
  }
  /* LATEST RESPONSIVE */
  @media screen and (max-width: 520px){
    .latest .latest__wrapper{
      grid-template-columns: 1fr;
    }
    .latest .latest__wrapper .latest__card{
      margin-bottom: 2rem;
    }
  }
  /* PACKAGE */
  .package{
    background-color: var(--clr-light);
    padding-top: 5rem;
    text-align: center;
  }
  .package__wrapper:nth-of-type(even) .package__items{
    flex-direction: row-reverse;
  }
  .package .package__wrapper:nth-child(even){
    padding: 2rem;
    background-color: var(--clr-light);
  }
  .package .package__wrapper:nth-child(odd){
    padding: 2rem;
    background-color: var(--clr-semilight);
  }
  .package h3{
    margin-bottom: 2rem;
    color: var(--clr-primary);
    font-size: 3rem;
    font-weight: 700;
  }
  .package .package__content h3{
    margin-bottom: 2rem;
    color: var(--clr-primary);
    font-size: 3rem;
    font-weight: 700;
  }
  .package .package__items {
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: center;
  }
  .package p{
    margin-bottom: 2rem;
    color: var(--clr-dark);
    text-align: justify;
    max-width: 70rem;
  }
  /* PACKAGE RESPONSIVE */
  @media screen and (max-width: 520px){
    .package .package__items{
      flex-direction: column;
    }
    .package__wrapper:nth-of-type(even) .package__items{
      flex-direction: column-reverse;
    }
  }
  /* CATALOG BANNER */
  .catalogBanner{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)), 
    url(./img/catalog-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 10rem;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .catalogBanner .catalogBanner__wrapper h1{
    color: var(--clr-primary);
    font-size: 7rem;
    font-weight: 700;
  }
  .catalogBanner .catalogBanner__wrapper h2{
    color: var(--clr-dark);
    font-size: 3rem;
    font-weight: 300;
  }
  /* CATALOG BANNER RESPONSIVE */
  @media screen and (max-width: 520px){
    .catalogBanner{
      height: 70vh;
    }
  }
  /* UPDATES BANNER */
  .updatesBanner{
    background-color: var(--clr-light);
    padding-top: 5rem;
    padding-bottom: 10rem;
  }
  .updatesBanner .updatesBanner__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
  .updatesBanner .updatesBanner__left{
    padding: 5rem;
    max-width: 75rem;
    text-align: center;
  }
  .updatesBanner .updatesBanner__left h1{
    color: var(--clr-primary);
    font-size: 7rem;
    font-weight: 700;
  }
  .updatesBanner .updatesBanner__left p{
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: justify;
  }
  .updatesBanner .updatesBanner__right img{
    position: relative;
    top: 7rem;
    width: 46.5;
  }
  /* UPDATES BANNER RESPONSIVE */
  @media screen and (max-width: 520px){
    .updatesBanner .updatesBanner__left h1{
      font-size: 5rem;
    }
    .updatesBanner .updatesBanner__wrapper{
      flex-direction: column;
    }
    .updatesBanner .updatesBanner__right img{
      top: 2rem;
    }
  }
  /* DESIGNS AND CATEGORIES */
  .dc{
    background-color: var(--clr-light);
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .dc .dc__wrapper{
    display: flex;
    background-color: var(--clr-light);
  }
  .dc .dc__wrapper .dc__left{
    width: 85rem;
  }
  .dc .dc__wrapper .dc__left .dc__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 95rem;
    right: 3rem;
  }
  .dc .dc__wrapper .dc__left .dc__block{
    flex-direction: column;
    max-width: 40rem;
    display: flex;
    text-align: justify;
    background-color: var(--clr-semilight);
    margin-bottom: 3rem;
    padding: 3rem;
    right: 5rem;
  }
  .dc .dc__wrapper .dc__left h3{
    color: var(--clr-secondary);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  .dc .dc__wrapper .dc__left .dc__content .dc__block h3{
    color: var(--clr-dark);
    font-size: 3rem;
    font-weight: 700;
  }
  .dc .dc__wrapper .dc__left a{
    color: var(--clr-dark);
    font-size: 4rem;
    text-align: right;
  }
  .dc .dc__wrapper .dc__right{
    width: 20rem;
  }
  .dc .dc__wrapper .dc__right h3{
    color: var(--clr-secondary);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  .dc table td{
    border: 0px;
    text-align: left;
    padding-right: 20rem;
    padding-bottom: 4rem;
    font-size: 2rem;
    font-weight: 700;
  }
   /* DESIGNS AND CATEGORIES RESPONSIVE */
   @media screen and (max-width: 520px){
    .dc{
      padding-top: 1rem;
    }
    .dc .dc__wrapper{
      flex-direction: column;
    }
    .dc .dc__wrapper .dc__left .dc__content{
      grid-template-columns: 1fr;
    }
   }
  /* RECENT PROJECTS */
  .recent{
    background-color: var(--clr-light);
    padding: 3rem 5rem;
  }
  .recent .recent__title h2{
    margin-bottom: 2rem;
    color: var(--clr-primary);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5rem;
    text-align: center;
  }
  .recent .recent__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: normal;
  }
  .recent .recent__card .recent__details{
    display: flex;
    justify-content: space-between;
    max-width: 35rem;
    left: 0;
  }
  .recent .recent__card .recent__details .recent__content{
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .recent .recent__card .recent__details h4{
    color: var(--clr-dark);
    font-size: 2rem;
    font-weight: 700rem;
  }
  .recent .recent__card .recent__details a{
    color: var(--clr-dark);
    font-size: 3rem;
  }
  /* RECENT PROJECTS RESPONSIVE */
  @media screen and (max-width: 520px){
    .recent .recent__wrapper{
      grid-template-columns: 1fr;
    }
    .recent .recent__card{
      margin-bottom: 2rem;
    }
    .recent .recent__title h2{
      margin-bottom: 1.5rem;
    }
  }
  /* CONTACTS */
  .contacts{
    background-color: var(--clr-semilight);
    padding-top: 15rem;
    padding-bottom: 5rem;
    height: 94vh;
  }
  .contacts .contacts__wrapper{
    display: flex;
    justify-content: space-between;
  }
  .contacts .contacts__left{
    display: grid;
    grid-template-columns: 30rem;
    height: 75vh;
  }
  .contacts .contacts__right{
    height: 75vh;
  }
  .contacts .contacts__content{
    background-color: var(--clr-dark);
    display: grid;
    grid-template-columns: 50rem;
    width: 45rem;
    padding: 5rem 5rem;
    margin-top: 12.5rem;
  }
  .contacts h3{
    color: var(--clr-light);
    font-size: 3rem;
    font-weight: 700rem;
    margin-bottom: 2rem;
  }
  .contacts .contacts__right a{
    color: var(--clr-secondary);
    font-size: 3rem;
  }
  .contacts p{
    color: var(--clr-light);
    font-size: 2rem;
  }
  .contacts .contacts__info{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-bottom: 2rem;
  }
  .contacts h1{
    color: var(--clr-primary);
    font-size: 8rem;
    font-weight: 900rem;
  }
  .contacts .contacts__title p{
    color: var(--clr-dark);
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 65rem;
  }
  .contacts form{
    color: gray;
    font-size: 2rem;
    margin-bottom: 4rem;
    border-bottom: 2px solid gray;
    width: 70rem;
  }
  .contacts .contacts__send{
    border-top: 2px solid gray;
    padding-top: 3rem;
    width: 70rem;
  }
  .contacts .contacts__left a{
    font-size: 3rem;
    padding-left: 31rem;
    padding-right: 30rem;
    letter-spacing: 1rem;
  }
  /* CONTACTS RESPONSIVE */
  @media screen and (max-width: 520px){
    .contacts{
      width: 81vh;
      height: 190vh;
    }
    .contacts .contacts__wrapper{
      flex-direction: column;
      width: 81vh;
    }
    .contacts .contacts__left{
      height: 75vh;
    }
    .contacts .contacts__right{
      height: 75vh;
    }
    .contacts form{
      width: 40rem;
      margin-bottom: 5rem;
    }
    .contacts .contacts__send{
      width: 40rem;
    }
    .contacts .contacts__left a{
      padding-left: 16rem;
      padding-right: 15rem;
    }
    .contacts .contacts__title p{
      width: 40rem;
    }
  }
  /* REPEATABLE PATTERNS */
  .btn{
    background-color: transparent;
    border: transparent;
    border-radius: 10rem;
    padding: 1rem 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: transparent;
  }
  .btn.bg--secondary{
    background-color: var(--clr-dark);
    color: var(--clr-light);
  }
  .btn.bg--secondary:hover{
    background-color: var(--clr-light);
    color: var(--clr-dark);
  }
  .btn--nobg{
    color: var(--clr-primary);
  }
  .btn--nobg:hover{
    color: darken var(--clr-primary);
  }
